@mixin btn {
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 14px 24px;
  transition: all 0.15s ease-in-out;
}

.btn-primary {
  @include btn();

  color: var(--white);
  background-color: var(--blue-100);
  border-radius: 16px;

  &:hover {
    background-color: var(--blue-200);
  }

  &:active {
    background-color: var(--blue-300);
  }
}

.btn-cancel {
  @include btn();

  color: var(--gray-300);
  background-color: transparent;

  &:hover {
    color: var(--blue-200);
  }

  &:active {
    color: var(--blue-300);
  }
}

@media (max-width: 640px) {
  .btn-primary {
    padding: 15px 40px;
  }
}

@media (max-width: 320px) {
  .btn-primary {
    padding: 15px 20px;
  }
}
